body {
	margin: 0;
	padding: 0;
	background: #fefefe;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	color: #0a0a0a;
}

div, h1, h2, h3, h4 form, p {
    margin: 0;
    padding: 0;
}

p {
	margin-bottom: 1rem;
	line-height: 1.6;
}

.banner {
	background: url("../img/main-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.row {
	max-width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
	display: flex;
}

.column {
	width: 50%;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
}

.text-color-white {
	color: #FFF;
}

h4 {
	line-height: 1.4;
	font-size: 1.125rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.orange-color {
	color: #F7600E;
}

.text-center {
	text-align: center;
}

.banner header div.flex-container div:last-child {
	text-align: right;
}

#menu {
	margin-right: 10px;
}

#menu-icon {
	height: 1rem;
	cursor: pointer;
}

.header-container h1 {
	display: inline-block;
	text-align: center;
	font-weight: 800;
	width: 100%;
}

.header-container p {
	margin-left: 16.66667%;
	width: 66.66667%;
}

.header-container .flex-container {
	font-weight: 600;
}

.flex-container a {
	width: 189px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	padding: 0.85em 1em;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-size: 0.9rem;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #2BA6CB;
	color: #FEFEFE;
}

.border-radius {
	border-radius: 10px;
}

.header-container .flex-container .button {
	background-color: transparent;
	border-color: #64686d;
	margin: 0;
	margin-bottom: 1px;
	margin-right: 30px;
	padding: 1em;
	font-size: 0.9rem;
}

.header-container .flex-container a:hover {
	background-color: #F7600E;
}

.header-btn, footer p {
	padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

/*---SERVICES---*/
.services {
	color: #3B434C;
}

.services div {
	padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.services span {
	border: 1px solid #C6C8CB;
    transition: 0.45s;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.services span:hover {
	background-color: #F7600E;
}

.services h4 {
	font-size: 16px;
	font-weight: 600;
}

.services p {
	font-size: 14px;
	margin-bottom: 1rem;
	line-height: 1.6;
}

.services p:last-child {
	margin-bottom: 0;
}

/*---NEWSLETTER---*/

.newsletter {
	background: url("../img/newsletter-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter .flex-container {
	justify-content: center;
}

.newsletter input, .contact input, .contact textarea {
	box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    padding-left: 15px;
    border: 1px solid #cacaca;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    appearance: none;
}

.newsletter a {
	background-color: #F7600E;
	margin-bottom: 0;
}

/*---WORKS---*/
.works {
	color: #3b434c;
}

.works .items {
	width: 100%;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	box-sizing: border-box;
	float: left;
}

.works .overlay {
	cursor: pointer;
	position: relative;
}

.works .overlay h3 {
	font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.works .overlay a {
	margin-bottom: 0;
	background-color: #FFF;
	color: #F7600E;
}

.works .overlay .img-overlay {
	width: 100%;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	height: 23.05rem;
}

.works .overlay .overlay-container {
	width: 100%;
	transition: .5s ease;
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.works .overlay:hover .img-overlay {
    opacity: 0.1;
}

.works .overlay:hover .overlay-container {
    opacity: 1;
}

.works .overlay:hover.overlay {
    background: #e1580e;
    border-radius: 10px;
}

.works > div:last-child {
	clear: both;
}

.works > div:last-child a {
	margin-bottom: 0;
	border: 1px solid #E9E9E9;
	background-color: transparent;
	color: #3B434C;
}

/*---CLIENTS---*/
.clients {
	background: url("../img/testimonials-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.clients .arrows {
	padding: 1rem;
}

.clients .arrows img {
	cursor: pointer;
}

.clients .testimonial p:nth-child(2) {
	font-weight: 400;
	font-style: italic;
}

.clients .testimonial p:last-child {
	margin-bottom: 0;
}

/*---TEAM---*/
.team {
	color: #3b434c;
}

.team > div h4 {
	font-weight: 600;
}

.team .person {
	width: 240px;
	padding-left: 10px;
	padding-right: 10px;
	filter: grayscale(1);
}

.team .person:hover {
	filter: grayscale(0);
}

.team .members {
	flex-wrap: wrap;
}

.team .person div:first-child img {
	border-radius: 10px;
	width: 240px;
	height: 260px;
}

.team .person:hover div:first-child img {
	transform: scaleY(1.05);
	transform-origin: bottom;
	box-sizing: border-box;
	border-bottom: 5px #F7600E solid;
	transition: 0.25s ease;
}

.team .person h3 {
	text-transform: uppercase;
	color: #000;
}

.team .person .soc-icon img {
	height: 35px;
}

.team .person p {
	font-size: 14px;
}

.team .nav-buttons span {
	display: inline-block;
	margin: 8px 10px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #C4C6C9;
	cursor: pointer;
}

.team .nav-buttons span:hover {
	width: 24px;
	height: 24px;
	margin: 6px 8px;
	border-radius: 12px;
	background-color: #F7600E;
}



/*---CONTACTS---*/
.contact {
	background: url("../img/contact-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.contact h4 {
	font-weight: 600;
}

.contact form {
	flex-flow: wrap;
}

.contact form input {
	padding-left: 15px;
	margin-bottom: 2rem;
}

.contact .text-area {
	width: 100%;
}

.contact textarea {
	height: auto;
	max-width: 100%;
	padding-left: 15px;
}

.contact form a {
	background-color: #F7600E;
	margin-bottom: 0;
	max-width: 200px;
}

.contact form img {
	height: 35px;
}

/*---FOOTER---*/
footer {
	background-color: #3B434C;
	display: block;
}

footer p {
	margin-bottom: 0;
}

