body {
	margin: 0;
	padding: 0;
	background: #fefefe;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	color: #0a0a0a;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.banner {
	background: url("../img/main-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.position-relative {
	position: relative;
}
section.banner header {
	z-index: 1;
}

.row {
	max-width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
	display: flex;
}

.flex-container > div {
	width: 50%;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
}

.banner-title h4 {
	color: #FFF;
}

h4 {
	line-height: 1.4;
	font-size: 1.125rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.banner-title h4 span {
	color: #F7600E;
}

.text-center {
	text-align: center;
}

.flex-container div.medium-text-right span {
	margin-right: 10px;
	color: #FFF;
}

#menu-icon {
	height: 1rem;
}

.align-middle {
	align-items: center;
}

.align-right {
	justify-content: right;
}

.d-flex {
	display: flex;
}

.title-bar-left, .title-bar-right {
    flex: 1 1 0px;
}

.title-bar-right {
	text-align: right;
}