body {
	margin: 0;
	padding: 0;
	background: #fefefe;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	color: #0a0a0a;
}

.banner {
	background: url("../img/main-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.position-relative {
	position: relative;
}

.z-index--1 {
	z-index: 1;
}

.row {
	max-width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
}

.small-6 {
	width: 50%;
}

.columns {
	float: left;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
}

.custom_title {
	color: #3b434c;
}

header .custom_title {
	color: #FFF;
}

h4 {
	line-height: 1.4;
	font-size: 1.125rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.custom_title span {
	color: #F7600E;
}