/* RESPONSIVE */
@media screen and (min-width: 200px) {
	header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	h4 {
		font-size: 1.5625rem;
	}

	.header-btn {
		width: 50%;
		margin-left: 25%;
	}

	.down-arrow {
		margin-top: 20px;
	}

	.services {
		padding-top: 30px;
		padding-bottom: 30px;
		flex-direction: column;
	}

	.services div {
		margin-bottom: 30px;
		width: 100%;
	}

	.services h4 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.services span {
		padding: 20px;
	}

	.newsletter {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.newsletter form {
		flex-direction: column;
	}

	.newsletter form div {
		width: 66.66667%;
		margin-left: auto;
		margin-right: auto;
	}

	.newsletter a {
		margin-top: 20px;
		max-width: 200px;
	}

	.clients>div {
		height: 410px;
	}

	.clients .arrows {
		margin-top: 10rem;
	}

	.clients .testimonial p:nth-child(2) {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.contact, .clients {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.contact h4 {
		font-size: 24px;
	}

	.contact p {
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.contact form .medium {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.contact .text-area {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.contact .button-hire {
		width: 100%;
	}

	.contact form .soc-icon {
		width: 100%;
		margin-top: 30px;
	}

	footer .flex-container {
		display: block;
	}

	footer p {
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 450px) and (max-width: 639px) {
	.clients>div {
		height: 300px;
	}

	.clients .arrows {
		margin-top: 7rem;
	}
}


@media (min-width: 640px) and (max-width: 1023px) {
	.margin-bottom-0 {
	    margin-bottom: 0;
	}

	.services div {
		margin-bottom: 40px;
	}

	.contact p {
		margin-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media screen and (min-width: 640px) {
	header {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.header-container {
		margin-top: 130px;
		margin-bottom: 130px;
	}

	.header-container h1 {
		font-size: 46px;
	}

	.header-container p {
		font-size: 18px;
	}

	.header-btn {
		margin-top: 40px;
	}

	.down-arrow {
		margin-top: 20px;
	}

	.services {
		padding-top: 50px;
		padding-bottom: 50px;
		flex-direction: row;
	}

	.services h4 {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.services span {
		padding: 30px;
	}

	.newsletter {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.newsletter form {
		flex-direction: row;
	}

	.newsletter form div:first-child {
		width: 58.33333%;
		margin-right: -2rem;
	}

	.newsletter form div:last-child {
		width: 25%;
	}

	.newsletter a {
		margin-top: 0;
		max-width: 100%;
	}

	.clients>div {
		height: 315px;
	}

	.clients .arrows {
		margin-top: 7rem;
	}

	.clients .testimonial p:nth-child(2) {
		margin-top: 35px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.contact, .clients {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.contact h4 {
		font-size: 28px;
	}

	.contact form {
		margin-left: 70px;
		margin-right: 70px;
	}

	.contact form .medium {
		width: 42%;
		display: inline-block;
	}

	.contact .text-area {
		width: 92%;
	}

	.contact .button-hire {
		width: 33.33333%;
		margin-left: 0.3%
	}

	.contact form a {
		width: 100%;
	}

	.contact form .soc-icon {
		width: 53%;
		margin-top: 0;
		text-align: right;
	}

	footer {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	footer .flex-container {
		display: flex;
	}

	footer p {
		width: 50%;
	}

	footer div p:first-child {
		text-align: left;
	}

	footer div p:last-child {
		text-align: right;
	}
}


@media screen and (min-width: 768px) {
	header {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.margin-right-10 {
		margin-right: 10rem;
	}

	.services div {
		width: 25%;
	}
}

@media screen and (min-width: 1024px) {
	.header-container {
		margin-top: 180px;
		margin-bottom: 180px;
	}

	.header-container h1 {
		font-size: 60px;
	}

	.header-container p {
		font-size: 22px;
	}

	.header-btn {
		margin-top: 60px;
	}

	.down-arrow {
		margin-top: 100px;
	}

	.services {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.services div {
		margin-bottom: 0;
	}

	.newsletter {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.clients>div {
		height: 325px;
	}

	.clients .testimonial p:nth-child(2) {
		margin-top: 45px;
		margin-bottom: 35px;
		font-size: 25px;
	}

	.contact, .clients {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.contact h4 {
		font-size: 35px;
	}

	.contact p {
		margin-top: 15px;
		margin-bottom: 100px;
		width: 50%;
		margin-left: 25%;
	}

	.contact form {
		margin-left: 100px;
		margin-right: 100px;
	}

	.contact .button-hire {
		width: 25%;
		margin-left: 2%;
	}

	.contact form a {
		margin-bottom: 30px;
	}

	.contact form .soc-icon {
		width: 65%;
		text-align: right;
	}


	footer {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}